@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
a{
    text-decoration: none;
    color: hsl(0, 0%, 17%);
}
ul{
    list-style: none;
}
#pattern-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color:hsl(0, 0%, 17%);
    background: lightgray;

    input, button{
        font-family: 'Rubik', sans-serif;
        font-size: 17px;
        padding:0;
        margin:0;
        padding: 13px 15px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}


main{
    padding: 5%;

    h1{
        color: #FFFFFF;
        text-align: center;
        font-weight: 500;
        font-size: 1.5em;
    }
    
    #search{
        text-align: center;
        margin: 20px 0px;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            overflow: hidden;
            margin: 0 auto;
            width: 85%;
        }

        input{
            color: hsl(0, 0%, 59%);
            flex: 2;

            &::placeholder{
                color: hsl(0, 0%, 59%);
                font-size: 16px;
            }
        }

        button{
            background: #000000;
            color: #FFFFFF;
            font-weight: 900;
        }
    }
    #details{
        background: #FFFFFF;
        border-radius: 10px;
        overflow: hidden;
        padding: 5%;
        width: 85%;
        margin: 0px auto;
        position:sticky;
        top: 0;

        div{
            padding: 5px 0px;
            text-align: center;

            span{
                display: inline-block;
                color: hsl(0, 0%, 59%);
                font-weight: 500;
                padding: 3% 0px;
                text-transform: uppercase;
                font-size: 10px;
                letter-spacing: .1em;
            }
            h2{
                font-size: 1.1em;
                font-weight: 600;
            }

        }
    }

}

#map{
    width: 100%;
    height: 80vh;
    z-index: -3;
    background-color: red;
}

footer{
    text-align: center;
    padding: 10px 5%;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 15px;
  
    ul{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
  
      li{
        padding: 5px;
        margin: 0px 10px;
        a{
          font-size: 16px;
          i{
            font-size: 30px;
          }
        }
      }
    }
  
    p{
      a{
        font-weight: bold;
      }
    }
  }
@media (min-width:1024px) {
    #pattern-bg{
        img{
            width: 100%;
        }
    }

    main{
        #search{
            text-align: center;
            margin: 20px 0px;
            div{
                width: 40%;
            }
        }
        
    #details{
        padding: 3%;
        display: flex;
        justify-content: space-between;

        div{
            border-left: 1px solid hsl(0, 0%, 59%);
            text-align: left;
            width: 23%;
            padding: 0px 3%;

            span{
                font-size: 12px;
            }
        }

        div:first-child{
            border-left: none;
        }
    }
    }
    // #map{
    //     top: 180px;
    // }
}
