@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #2b2b2b;
}

ul {
  list-style: none;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.1em;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: #2b2b2b;
  background: lightgray;
}

body input, body button {
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  padding: 0;
  margin: 0;
  padding: 13px 15px;
  border: none;
  outline: none;
  cursor: pointer;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
}

#container #pattern-bg {
  width: 100%;
}

#container #map {
  width: 100%;
  height: 80vh;
}

main {
  padding: 5%;
}

main h1 {
  color: #FFFFFF;
  text-align: center;
  font-weight: 600;
}

main #search {
  text-align: center;
  margin: 20px 0px;
}

main #search div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  width: 80%;
}

main #search input {
  color: #969696;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

main #search input::-webkit-input-placeholder {
  color: #969696;
  font-size: 15px;
}

main #search input:-ms-input-placeholder {
  color: #969696;
  font-size: 15px;
}

main #search input::-ms-input-placeholder {
  color: #969696;
  font-size: 15px;
}

main #search input::placeholder {
  color: #969696;
  font-size: 15px;
}

main #search button {
  background: #000000;
  color: #FFFFFF;
  font-weight: 900;
}

main #details {
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  padding: 5%;
  width: 80%;
  margin: 0px auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

main #details div {
  padding: 5px 0px;
  text-align: center;
}

main #details div span {
  display: inline-block;
  color: #969696;
  font-weight: 500;
  padding: 3% 0px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .1em;
}

main #details div h2 {
  font-weight: 600;
}

footer {
  text-align: center;
  padding: 10px 5%;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 15px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

footer ul li {
  padding: 5px;
  margin: 0px 10px;
}

footer ul li a i {
  font-size: 25px;
}

footer p a {
  font-weight: bold;
  font-size: 14px;
}

@media (min-width: 1024px) {
  #pattern-bg img {
    width: 100%;
  }
  main #search {
    text-align: center;
    margin: 20px 0px;
  }
  main #search div {
    width: 40%;
  }
  main #details {
    padding: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main #details div {
    border-left: 1px solid #969696;
    text-align: left;
    width: 23%;
    padding: 0px 3%;
  }
  main #details div span {
    font-size: 12px;
  }
  main #details div:first-child {
    border-left: none;
  }
}
/*# sourceMappingURL=main.css.map */