@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

#pattern-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color:hsl(0, 0%, 17%);
    background: lightgray;

    input, button{
        font-family: 'Rubik', sans-serif;
        font-size: 17px;
        padding:0;
        margin:0;
        padding: 13px 15px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}


#wrapper{
    padding: 5%;

    h1{
        color: #FFFFFF;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
    }
    
    #search{
        text-align: center;
        margin: 20px 0px;
        div{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            overflow: hidden;
            width: 85%;
        }

        input{
            color: hsl(0, 0%, 59%);
            flex: 2;

            &::placeholder{
                color: hsl(0, 0%, 59%);
                font-size: 16px;
            }
        }

        button{
            background: #000000;
            color: #FFFFFF;
            font-weight: 900;
        }
    }
    #details{
        background: #FFFFFF;
        border-radius: 10px;
        overflow: hidden;
        padding: 5%;
        width: 85%;
        margin: 0px auto;
        position:sticky;
        top: 0;

        div{
            padding: 5px 0px;
            text-align: center;

            span{
                display: inline-block;
                color: hsl(0, 0%, 59%);
                font-weight: 500;
                padding: 3% 0px;
                text-transform: uppercase;
                font-size: 10px;
                letter-spacing: .1em;
            }
            h2{
                font-size: 16px;
                font-weight: 600;
            }

        }
    }

}

#map{
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: 200px;
    z-index: -3;
}

@media (min-width:900px) {
    #pattern-bg{
        img{
            width: 100%;
        }
    }
    #wrapper{
        #search{
            text-align: center;
            margin: 20px 0px;
            div{
                width: 30%;
            }
        }
        
    #details{
        padding: 3%;
        display: flex;
        justify-content: space-between;

        div{
            border-left: 1px solid hsl(0, 0%, 59%);
            text-align: left;
            width: 23%;
            padding: 0px 3%;

            span{
                font-size: 12px;
            }
        }

        div:first-child{
            border-left: none;
        }
    }
    }
}
